
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert" style="position:fixed;bottom:0px;left:0px;right:0px;border-radius:0px">
    <p class="mt-2 mb-2 color-white" > 
        &#x1F36A; <b>This site uses cookies</b> for analytics and site preferences. By continuing to use this site, you agree to this use. <a href="/cookies" target="_blank">Learn more about RedditMetis cookie policy</a>
    </p>
    <button type="button" class="btn btn-info btn-sm acceptcookies" aria-label="Close">
        Whatever
    </button>
    
</div>
<!-- Include cookiealert script -->
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
