{% extends "base.html" %}

{% block title %}
    Thank you! - RedditMetis
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7 col-12 offset-md-1">
                <h1>I hope you reconsider this</h1>
                <p>I spend my own money on maintaining RedditMetis, and being a student, its a burden to me. If you enjoyed using this site. please consider donating :)</p>
            </div>
        </div>
    </div>


    {% include 'footer.html'%}
{% endblock %}