{% extends "base.html" %}

{% block title %}
    Donate - RedditMetis
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="row">

            



            <div class="col-md-8 offset-md-1 col-12 mb-5">
                <h1 class="ml-1">Why donate?</h1>
                <p class="mt-2">RedditMetis started as a personal project only intended for personal use, but since there was an interest in the community with such a tool, <strong>I worked hard to publish the site and keep it ad-free</strong>, all out of my own pocket.</p>
                
                <p class="mt-2">If you really like this tool, please consider donating to help pay for server time. Even just $3.00 can help the site stay up (and that costs less than a cup of coffee!)</p>
                <p class="mt-2">I really want to provide this service ad-free, so I will be grateful if you do donate, and your name will show up in the list of donors page.
                </p>
                <p class="mt-2">As of now, only PayPal is accepted. We will add more payment options in the future.
                </p>

                <h2 class="mt-3">Q: Where does my money go?</h2>
                <p class="mt-2">Donations will go to the fund for server maintenance. As the number of users continually increase every day, the server maintenance costs also goes up, and so it gets harder for me to sustain the site by myself.</p>
                </p>

                <h2 class="mt-3">Q: Can I donate an amount other than $3 dollars?</h2>
                <p class="mt-2">Custom donation amounts require a Gold Ko-fi subscription. Refer to the question below.</p>
                </p>

                <h2 class="mt-3">Q: Why are you not on Ko-fi gold?</h2>
                <p class="mt-2">I want to enable gold in the future for you to be able to customize donations, but I won't buy gold without trying Ko-fi as a service first. I will enable gold in the near future if I see Ko-fi as a viable donation route.</p>
                </p>

                <div class="col-md-12 col-12 mt-3">
                    <p class="alert alert-warning">Please pm <a href="https://reddit.com/user/consulnappy">u/consulnappy</a> if you have any problems with the transaction.</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                 <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'I2I610RIP');kofiwidget2.draw();</script> 
                </div>
            </div>

           
        </div>
    </div>


    {% include 'footer.html'%}
{% endblock %}