<!DOCTYPE html>
<html>
    <head>

        <link rel="canonical" href="https://redditmetis.com" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        
        <!-- START css -->
        <link rel="stylesheet" href="{{ url_for('app_redditmetis.static', filename='styles.css') }}">
        <!-- END css -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet"> 

        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.25/moment-timezone-with-data.min.js"></script>
        

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}RedditMetis{% endblock title %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.10/pako.min.js"></script>
        <script type="text/javascript">
            function printit(data) {
                alert(data['data']['children'][0]['data']['title']);
            }
        </script>
        <script type="text/javascript" src="https://www.reddit.com/.json?limit=1&amp;jsonp=printit"></script>
        <!-- START gtag -->
        
        <!-- END gtag -->

        {% block head_extra %}

        {% endblock head_extra %}

        <script>
            var metis_settings_timezone = moment.tz.guess();
        </script>
    </head>

    <body>
        
       {% block content %}
        
        
        Hello!


       {% endblock content %}

        {% include "cookiebanner.html" %}
        
    </body>



</html>