{% extends "base.html" %}

{% block title %}
    RedditMetis
{% endblock %}

{% block content %}

    <div class="container align-items-center" style="height:100vh">
        <div class="row d-flex justify-content-center align-items-center" style="height:100vh">
            
            <div class="col-md-5">
            <div class="mb-3"><a href="/" class="disable-link-underline">
            <div><p class="metis-brand"><span style="color:#a5a5a5">Reddit</span><span>Metis</span></p></div>
            </a></div>
            <h2>We'll be back soon!</h2>
            <p>Server upgrade and maintenance ongoing. We apologize for the sudden and unannounced inconvenience.</p>
            <p>This will only take about 45 minutes and the site will be back 2:30AM Eastern Daylight Time.</p></div>

        </div> 
    </div>


{% endblock %}